@use '../../../styles/variables' as v;

.status-badge {
  background-color: var(--status-color);
  border: 1px solid color-mix(in srgb, var(--status-text-color), transparent 65%);
  border-radius: 999px;
  color: var(--status-text-color);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: v.$spacing-xs v.$spacing-md;
}
